
*.user
.vs/AUVMaster/v14/.suo
AUVMaster.sln
AUVMaster.vcxproj
AUVMaster.vcxproj.filters
debug/AUVMaster.exe
debug/AUVMaster.ilk
debug/AUVMaster.pdb
debug/moc_predefs.h
GeneratedFiles/Debug/moc_autocontrol.cpp
GeneratedFiles/Debug/moc_chartpane.cpp
GeneratedFiles/Debug/moc_communication.cpp
GeneratedFiles/Debug/moc_controlpane.cpp
GeneratedFiles/Debug/moc_logpane.cpp
GeneratedFiles/Debug/moc_mainwindow.cpp
GeneratedFiles/Debug/moc_opencvpane.cpp
GeneratedFiles/Debug/moc_propeller.cpp
GeneratedFiles/Debug/moc_switchled.cpp
GeneratedFiles/Debug/moc_task.cpp
GeneratedFiles/Debug/moc_vision.cpp
GeneratedFiles/ui_controlpane.h
GeneratedFiles/ui_mainwindow.h
x64/Debug/AUVMaster.tlog/AUVMaster.lastbuildstate
*.tlog
*.obj
*.pdb
*.log
*.bak
*.stash
